@import "base";

.wrapper {
  margin: 1rem;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 40% 60%;
  grid-template-areas: "left right-top" "left right-bottom";
  .box-image {
    margin: 0 auto;
    grid-area: left;
  }
  .box-info {
    .currency {
      color: $secondary-color;
    }
    .checked {
      color: $star-color;
    }
    .section-one {
      display: flex;
      justify-content: space-between;
      padding-top:5px;
      font-family: Arial, Helvetica, sans-serif;
    }
    grid-area: right-top;
  }
  .box-reviews {
    grid-area: right-bottom;
    margin-top: 40px;
  }
}
//form
.form-delete {
  border-radius: 5px;
  display: flex;
  justify-content: center;

  .delete-btn {
    background-color: red;
    color: white;
    padding: 14px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    width: 30%;
    height: 47px;
    opacity: 0.8;
  }

  .delete-btn:hover {
    opacity:1;
    color: black;
  }
}
