@import "base";

.item-list-container {
  margin-left: 1rem;
  .checked {
    color: $star-color;
  }
  .card {
    border: none;
  }
  .card-body {
    padding: 1.25rem 0;
    .card-title {
      height: 4rem;
    }
    .card-body-bottom {
      display: flex;
      justify-content: space-between;
    }
  }
}
