// See: https://sass-lang.com/
@import "base";

body {
  background-color: #eee;

  header {
    background-color: $primary-color;
    height: 10vh;
  }

  .filter-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem;
    #filter {
      background-color: $secondary-color;
    }
    .item-amount {
      margin-bottom: 0;
    }
  }

  .main-container {
    margin: 1rem;
    display: flex;
    justify-content: space-between;
    .category {
      .list-group-item {
        padding: 0.75rem 0.25rem !important;
      }
    }
  }

  footer {
    background-color: $primary-color;
    height: 10vh;
  }
}
