// See: https://sass-lang.com/
@import "base";

body {
  background-color: #eee;

  header {
    background-color: $primary-color;
    height: 10vh;
  }

  footer {
    background-color: $primary-color;
    height: 10vh;
  }
}
