@import "base";
body {
  font-family: Arial, Helvetica, sans-serif;
  background-image: url(/images/background-page.jpg);
  display: flex;
  flex-direction: column;
  color: white;
  align-items: center;
}

.container h1 {
  text-align: center;
  font-family: Helvetica, sans-serif;
}

nav {
  height: 90px;
  width: 100vw;
  padding: 1em;
  color: whitesmoke;
  font-family: Bungee Shade;
  font-size: 30px;
  overflow: hidden;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
}

.container {
  padding: 16px;
  background-color: black;
  opacity: 0.9;
  border-radius: 5px;
  margin-top: 100px;
  margin-bottom: 60px;
}

input[type="text"],
input[type="password"],
input[type="tel"] {
  width: 100%;
  padding: 9px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type="text"]:focus,
input[type="password"]:focus {
  background-color: #ddd;
  outline: none;
}

hr {
  border: 1px solid white;
  margin-bottom: 25px;
}

.register-page {
  display: flex;
  width: 90%;
  align-items: center;
  border: 5px solid blue;
}

.registerbtn:hover {
  opacity: 0.5;
  background-color: $secondary-color;
}

.registerbtn {
  border: none;
  background-color: $secondary-color;
}

a {
  color: $secondary-color;
}

.container-class {
  margin-top: 10px;
  a:hover {
    color: $secondary-color;
    opacity: .8;
  }
}

.signin {
  background-color: #f1f1f1;
  text-align: center;
}

@media only screen and (min-width: 1024px) {
  .container {
    max-width: 600px;
  }
}
